
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img{
  background-image: url('register.jpg');

  width: 100px; 
  height: 10rem;
  background-repeat: no-repeat;
  background-size: cover; 
}
.card{
  border-top: 8px solid rgb(60, 76, 223);
  width: 13rem;
  height: 15rem;
  margin: 5rem 2rem 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  border-radius: 13px;

}
.card-body{
  margin-left:5px;
}
.input{
  margin: 10px;
  margin-left: 3px;
  width: 12rem;
  height: 1.4rem;

}
input{
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  border: 2px solid transparent;
  border-bottom: 2px solid gainsboro;
  
  
}
.btnlogin{
  background-color: rgb(60, 76, 223);
  border: none;
  width: 12rem;
  height: 2rem;
  margin-top: 1.8rem;
  margin-left: 5px;
  color:white;
  border-radius: 5px;
}
.btnlogin:active{
  background-color: rgb(9, 20, 124);
}
.register{
  margin-left: 2rem;
  background-color: white;
  height: 3rem;
  width: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 8px solid rgb(60, 76, 223);
  border-radius: 23px;
  font-family: Cambria, Cochin;
}
a{
  text-decoration: none;
}