body{
  background-color: rgb(206, 231, 223);
  /* background-image: url(/pictures/register.jpg); */

}
.img{
  width: 100%; 
  height: 25rem;
  background-image: url("register.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
}

.card{
  border-top: 8px solid rgb(180, 231, 78);
  width: 17.5rem;
  height: 20rem;
  margin: 3rem 20rem 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  border-radius: 13px;
}
.input{
  margin: 14px;
  margin-left: 4px;
  width: 314px;
  box-sizing: border-box;
  /* height: 0.6rem; */
}

input{
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  border: 2px solid transparent;
  border-bottom: 2px solid gainsboro;
}
#btnRegister{
  background-color: yellowgreen;
  border: none;
  width: 14.6rem;
  margin-top: 0.rem;
  margin-left: 0.2rem;
  color:white;
}
.login{
  margin-left: 20rem;
  background-color: white;
  height: 3rem;
  width: 17.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 8px solid yellowgreen;
  border-radius: 13px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
  text-decoration: none;
}